.card {
    /* Card styles */
    background-color: #2c1679;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 16px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
    margin: 16px 0;

}   
.card h3 {
    /* Card title styles */
    font-size: 20px;
    margin-bottom: 8px;
}